<h1>Post yoru blog!</h1>

<form class="blog-form" action="/" method="post">
  <input type="text" name="blog[title]" placeholder="Enger your blog's title...">
  <br>
  <input type="submit" value="Post">
</form>