<h1>Edit Artist</h1>

<form action="/artists/<%= @artist.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" value="<%= @artist.first_name %>">
  
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" value="<%= @artist.last_name %>">

  <label for="alias">Alias:</label>
  <input type="text" name="alias" value="<%= @artist.alias %>">

  <input type="submit" value="Update Artist">

</form>