<h1>New Artist Sign Up</h1>

<form action="/artists" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
  
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">

  <label for="alias">Alias:</label>
  <input type="text" name="alias">
  <input type="submit" value="Sign Up as Artist">
</form>