<h1>User Sign up!</h1>

<form class="user-form" action="/users/new" method="post">
  <input type="text" name="user[first_name]" placeholder="Enter your first name">
  <input type="text" name="user[last_name]" placeholder="Enter your last name">
  <br>
  <input type="submit" value="Sign Up">
</form>