<h2>Form for a new Aesthete</h2>

<form action="/aesthetes" method="post">
  <label for="first_name">First Name</label>
  <input type= "text" name="first_name">
  <label for="last_name">Last Name</label>
  <input type= "text" name="last_name">
  <input type="submit" value="Create New Aesthete">
</form>