<h1><%= @blog.title %></h1>
<p><%= @blog.content %></p>

<form action="/blogs/<%= @blog.id %>" method="post">
  <input id="hidden" type ="hidden" name="_method" value="patch">
  <p>Update Title</p>
  <input type="text" name="title">
  <p>Update Content</p>

  <input type="text" name="content">
  <input type="submit" name="submit">
</form>