<h1>Add a new mural</h1>

<form action="/murals" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="artist">Artist:</label>
  <input type="text" name="artist">
  <label for="location">Location:</label>
  <input type="text" name="location">
  <input type="submit" value="Add A Mural">
</form>